.meal {
	display: flex;
	flex-direction: column;
	padding: 10px;
	background-color: var(--white);
	gap: 15px;
}

h3 {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 1.6rem;
	margin-bottom: 5px;
}

.meal > div:nth-child(2) {
	height: 150px;
}

.meal img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.price {
	margin-top: 20px;
	display: flex;
	gap: 10px;
	align-items: center;
}

.price p {
	color: var(--orange);
	font-weight: bold;
}

.price > span {
	font-family: "IBM Plex Sans", sans-serif;
	color: var(--grey);
	font-size: 1.6rem;
}

/* ------------- MEDIA 894px ---------------- */

@media (min-width: 894px) {
	.meal {
		flex-direction: row;
		border-radius: 10px;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
	}

	.meal > div:first-child {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 130px;
	}

	.meal > div:nth-child(2) {
		flex-shrink: 0;
		width: 130px;
		height: 130px;
	}

	.meal img {
		border-radius: 10px;
	}

	.price {
		margin-top: 0px;
	}

	.price > span {
		font-size: 2rem;
	}

	h3 {
		font-size: 2rem;
	}
}

@media (min-width: 1125px) {
	.meal {
		width: calc((100% - 20px) / 2);
	}

	.meal > div:nth-child(2) {
		height: 100%;
	}
}
