#menu {
	display: flex;
	flex-direction: column;
}

/* -------------- MEDIA 768px -------------- */

@media (min-width: 768px) {
	#menu {
		padding: 0 20px;
		flex-direction: row;
		gap: 40px;
	}
}

/* -------------- MEDIA 1200px -------------- */

@media (min-width: 1200px) {
	.container {
		width: 1200px;
		margin: 0 auto;
	}
}
