#title > .container {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
}

#title > .container > div:first-child {
	height: 150px;
	width: 100%;
}

#title img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin-bottom: 10px;
}

#title > .container > div:nth-child(2) {
	padding: 10px;
}

#title p {
	margin-bottom: 30px;
}

h1 {
	font-family: "Stratos Deliveroo Web", sans-serif;
	font-size: 2.5rem;
	line-height: 30px;
	margin-bottom: 30px;
}

@media (min-width: 768px) {
	h1 {
		font-size: 3rem;
	}
}

@media (min-width: 894px) {
	h1 {
		font-size: 3.5rem;
	}

	#title > .container {
		flex-direction: row-reverse;
		padding: 20px;
		gap: 40px;
	}

	#title > .container > div:first-child {
		height: 200px;
		width: 350px;
	}

	#title img {
		width: 350px;
		object-fit: cover;
		border-radius: 10px;
	}

	#title > .container > div:nth-child(2) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0px;
	}

	#title p {
		font-size: 2rem;
	}
}

@media (min-width: 1200px) {
	#title {
	}
}
