#cart {
	width: 100%;
	background-color: var(--white-grey);
	border: 2px solid var(--purple);
	position: fixed;
	bottom: 0;
}

#cart p {
	text-align: center;
}

#see-cart > button {
	width: 100%;
}

#see-cart > button > div {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.sub-total-delivery {
	display: flex;
	justify-content: space-between;
}

@media (min-width: 768px) {
	#cart {
		width: 350px;
		flex-shrink: 0;
	}
}
