/* All cart layout */

#cart {
	width: 100%;
	background-color: var(--white);
	position: sticky;
	bottom: 0;
	border-top: 2px solid var(--light-grey-b);
}

/* Cart not expend layout when there is meal in cart */

#item-in-cart {
	height: 80px;
	padding: 10px;
}

#item-in-cart > button {
	border-radius: 5px;
	background-color: var(--purple);
	width: 100%;
	height: 100%;
}

#item-in-cart > button:hover {
	background-color: var(--purple-hover);
}

#cart-resume {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#cart-resume > p:first-child {
	background-color: var(--dark-purple);
	padding: 7px 10px;
	width: 35px;
}

#cart-hidden p,
#cart-resume p {
	color: var(--white);
	font-weight: bold;
}

/* Cart empty */

#cart-hidden {
	height: 80px;
	padding: 10px;
}

#empty-cart {
	background-color: var(--light-grey);
	height: 100%;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* -------------- MEDIA 768px -------------- */

@media (min-width: 768px) {
	#cart {
		width: 350px;
		flex-shrink: 0;
		height: 100%;
		margin-top: 20px;
		border-radius: 5px;
		top: 0;
	}
}
