:root {
	--light-grey: #d3d3d3;
	--grey: #868686;
	--white: #fff;
	--black: #000;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 1.6rem;
	line-height: 22px;
	/* padding: 10px; */
}

html::-webkit-scrollbar {
	display: none;
}

html {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

button {
	font-family: "Roboto", sans-serif;
	border: none;
}

a {
	color: var(--black);
	text-decoration: none;
}

a,
span {
	font-weight: bold;
}

@media (min-width: 768px) {
}

@media (min-width: 885px) {
}

@media (min-width: 1125px) {
}
